* {
  margin: 0 auto;
}
header {
  max-width: 90rem;
}
main {
  max-width: 90rem;
}
footer {
  max-width: 90rem;
}

@import "./variables.scss";
@import "../components/ContactFormInput/ContactFormInput.scss";
@import "../components/ContactFormTitle/ContactFormTitle.scss";
@import "../components/FooterDesktopSocial/FooterDesktopSocial.scss";
@import "../components/FooterMobileSocial/FooterMobileSocial.scss";
@import "../components/HomeQualityItem/HomeQualityItem.scss";
@import "../components/ItemList/ItemList.scss";
@import "../components/NavBarDesktop/NavBarDesktop.scss";
@import "../components/NavBarMobile/NavBarMobile.scss";
@import "../containers/ContactForm/ContactForm.scss";
@import "../containers/FooterDesktop/FooterDesktop.scss";
@import "../containers/FooterMobile/FooterMobile.scss";
@import "../containers/HeaderDesktop/HeaderDesktop.scss";
@import "../containers/HeaderMobile/HeaderMobile.scss";
@import "../containers/HomeQuality/HomeQuality.scss";
@import "../containers/HomeWelcome/HomeWelcome.scss";
@import "../layouts/BasicLayout/BasiscLayout.scss";
