.nav {
  display: none;
  @include breakpoints(md) {
    display: block;
    text-align: center;
    background-color: #ffffff;
    position: sticky;
    top: 0px;
    &__logo {
      font-family: $font-logo;
      text-decoration: none;
      font-size: 60px;
      position: relative;
      color: $color;
      right: 195px;
    }
    &__title {
      font-size: 20px;
      color: white;
      text-decoration: none;
      margin: 0px 10px;
      background-color: $color;
      padding: 10px 14px;
      border-radius: 10px;
      position: relative;
      left: 210px;
      bottom: 15px;
    }
    &__cart {
      margin: 0px 10px;
      position: relative;
      left: 210px;
    }
    &__account {
      margin: 0px 10px;
      position: relative;
      left: 210px;
    }
  }
}
