@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@500;600;700&display=swap");

$font-logo: "Rubik Dirt", cursive;
$font-secondary: "Reem Kufi Fun", sans-serif;
$primary-color: #e26868;
$secondary-color: #ff8787;
$tertiary-color: #ededed;
$quaternary-color: #d8d9cf;

@mixin breakpoints($point) {
  @if $point == sm {
    @media (min-width: 36em) {
      @content;
    }
  }
  @if $point == md {
    @media (min-width: 57.5em) {
      @content;
    }
  }
  @if $point == lg {
    @media (min-width: 80em) {
      @content;
    }
  }
}
