@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@500;600;700&display=swap");

$font-logo: "Rubik Dirt", cursive;
$font-secondary: "Reem Kufi Fun", sans-serif;
$color: #ef5d5d;

@mixin breakpoints($point) {
  @if $point == sm {
    //576
    @media (min-width: 36em) {
      @content;
    }
  }
  @if $point == md {
    //920
    @media (min-width: 57.5em) {
      @content;
    }
  }
  @if $point == lg {
    //1280
    @media (min-width: 80em) {
      @content;
    }
  }
}
