.basicLayout {
    header {
        text-align: center;
        position: sticky;
        top: 0px;
        background-color: #FFFFFF;
        margin: 0;
        padding: 0;
    }
    footer {
        text-align: center;
        background-color: #F2F2F2;
    }
}