.headerDesktop {
  display: none;
  @include breakpoints(md) {
    display: inline-flex;
    &__div-title {
      position: relative;
      right: 40px;
      @include breakpoints(lg) {
        right: 200px;
      }
      a {
        font-family: $font-logo;
        text-decoration: none;
        font-size: 50px;
        color: $color;
        @include breakpoints(lg) {
          font-size: 60px;
        }
      }
    }
    &__div-navBar {
      position: relative;
      right: 20px;
      top: 10px;
      @include breakpoints(lg) {
        left: 140px;
        top: 15px;
      }
    }
    &__div-icon {
      position: relative;
      left: 40px;
      top: 8px;
      height: 50px;
      @include breakpoints(lg) {
        left: 200px;
        top: 15px;
      }
      a {
        margin: 0px 5px;
      }
    }
  }
}
